<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<meta charset="UTF-8">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<title>Mad Libs</title>
	<style type="text/css">
	</style>
</head>
<body ng-init="greeting='greeting'; femalename='female name'; jobtitle='job title'; tedioustask='tedious task'; dirtytask='dirty task'; celebrity='celebrity'; uselessskill='uselessskill'; adjective='adjective'; obnoxiouscelebrity='obnoxious celebrity'; hugenumber='huge number'">
<div id="container">
	<header style="">
		<img class="header" src="images/mad-lib-happy-face.png" width="100" height="100" />
		
		<img id="image2" class="header" src="images/ng-mad-libs-logo.png" width="260" height="70"/><label>Automate This!</label>
	</header>

	<table align="center">
	<thead><th colspan="3">Provide the following words:</th>
		   <th colspan="3">&nbsp;</th>
	</thead>
	<tr>
		<td><input type="text"  ng-model="femalename" placeholder="female name"></td>
		<td><input type="text" ng-model="jobtitle" placeholder="job title"></td>
		<td><input type="text" ng-model="tedioustask" placeholder="tedious task"></td>
	</tr>
	<tr>
		<td><input type="text" ng-model="dirtytask" placeholder="dirty task"></td>
		<td><input type="text" ng-model="celebrity" placeholder="celebrity"></td>
		<td><input type="text" ng-model="uselessskill" placeholder="useless skill"></td>
	</tr>
	<tr>
		<td><input type="text" ng-model="adjective" placeholder="adjective"></td>
		<td><input type="text" ng-model="obnoxiouscelebrity" placeholder="obnoxious celebrity"></td>
		<td><input type="text" ng-model="hugenumber" placeholder="huge number"></td>
	</tr>
	</table>
	<div id="lineWrapper"></div>
	<div class="padding">
		<p><u>{{femalename}}</u> was an <u>{{jobtitle}}</u> who loved technology. Although she loved parts of her job, she absolutely hated  <u>{{tedioustask}}</u> and <u>{{dirtytask}}</u>. So, <u>{{femalename}}</u> met with her life mentor <u>{{celebrity}}</u> who told her to learn how to <u>{{uselessskill}}</u> with Thinkful. Thinkful didn't offer a course on <u>{{uselessskill}}</u> so she studied programming instead. </p>

		<p>What a great decision! With her new skills, {{femalename}} built a(n) <u>{{adjective}}</u> robot named <u>{{obnoxiuouscelbertity}}</u> that not only loved <u>{{dirtytask}}</u> but did it <u>{{hugenumber}}</u> faster.</p>
	</div>
</div>
</body>
